.divider {
  display: inline-block;
  border-bottom: 2.43778px solid #186532;
  width: 480px;
}
.divider-icon {
  display: inline-block;
  border-bottom: 2.43778px solid #186532;
  width: 20px;
}

.formMainContainer {
  width: 500px;
}

.buttonContainer {
  width: 500px;
}

@media (max-width: 380px) {
  .logInMainContainer {
    margin-top: 5px;
    width: 322px;
  }
  .divider {
    width: 292px;
  }
  .buttonContainer {
    width: 304px;
  }
  .formMainContainer {
    width: 300px;
  }
  .logInHeader1 {
    line-height: 28px;
    font-size: 22px;
    font-weight: 900;
  }
  .ending-text {
    line-height: 0;
    font-size: 15px;
  }
  .text-end {
    line-height: 15px;
    flex-wrap: nowrap;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .size {
    font-size: 11px;
  }
}

@media (min-width: 550.1px) and (max-width: 850px) {
  .logInMainContainer {
    width: 490px;
    height: 600px;
  }
  .logInHeader {
    height: 100px;
    width: 505px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 380.1px) and (max-width: 550px) {
  .logInMainContainer {
    width: 380px;
    height: 380px;
  }
  .logInHeader {
    height: 100px;
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logInHeader1 {
    font-size: 25px;
    font-weight: 900;
  }
  .formMainContainer {
    margin-left: 5px;
    height: 100px;
    width: 365px;
  }
  .buttonContainer {
    width: 365px;
  }
  .text-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .ending-text {
    margin-top: 2px;
  }
}
