.spinnerMainDiv {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
}

.image {
  align-self: center;

  height: 420px;
  width: 420px;
  z-index: 1;
}

@media (max-width: 380px) {
  .spinnerMainDiv {
    padding-top: 15px;
  }
  .image {
    align-self: center;
    height: 210px;
    width: 222px;
    z-index: 1;
  }
}

@media (min-width: 550.1px) and (max-width: 850px) {
  .spinnerMainDiv {
    position: absolute;
    left: -26%;
    top: 25%;
  }
  .image {
    width: 380px;
    height: 380px;
  }
}

@media (min-width: 380.1px) and (max-width: 550px) {
  .spinnerMainDiv {
    height: 220px;
    display: flex;
    justify-content: space-around;
  }
  .image {
    width: 240px;
    height: 240px;
  }
}
